.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  justify-content: center;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  width: auto;
  align-items: center;
}

.logo {
  display: grid;
  justify-content: center;
}

.title {
  display: grid;
  justify-content: center;
  padding-bottom: 10px;
}
